<div class="product-details-container" *ngIf="product">
    <h2>{{ product.name }}</h2>
    <p>{{ product.price | currency }}</p>
    <div class="action-buttons">
      <button mat-icon-button (click)="toggleWishlist()">
        <mat-icon [color]="isInWishlist ? 'warn' : ''">favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleCart()">
        <mat-icon [color]="isInCart ? 'primary' : ''">shopping_cart</mat-icon>
      </button>
    </div>
    <p>{{ product.description }}</p>
    <h3>Price History</h3>
    <ul>
      <li *ngFor="let history of product.priceHistory">
        {{ history.date }}: {{ history.price | currency }}
      </li>
    </ul>
    <h3>Reviews</h3>
    <ul>
      <li *ngFor="let review of product.reviews">
        {{ review.user }} - {{ review.rating }}/5: {{ review.comment }} ({{ review.date }})
      </li>
    </ul>
  </div>
  