<header>
    <div class="header-container">
      <h1><a routerLink="/">TechNova Hub</a></h1>
      <nav>
        <a routerLink="/products" routerLinkActive="active">Products</a>
        <a routerLink="/wishlist" routerLinkActive="active">Wishlist</a>
        <a routerLink="/cart" routerLinkActive="active">Cart</a>
      </nav>
      <button mat-raised-button color="accent" (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
        {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
      </button>
    </div>
  </header>
  